[#if request.getAttribute("INFO_ITEM_REFERENCE")??]
	[#assign infoItem = request.getAttribute("INFO_ITEM_REFERENCE").infoItemIdentifier.classPK /]

	[#assign nodeData = restClient.get("/c/edges/?fields=r_target_c_nodeId&filter=id%20eq%20%27" + infoItem + "%27") /]
  [#list nodeData.items as nodeDataItem]
		[#assign nodeLink = "/web/guest/e/dt_node-display/35805/" + nodeDataItem.r_target_c_nodeId + "?p_p_state=pop_up"/]
		<a class="btn btn-primary" href="${nodeLink}">
			Go
		</a>
	[/#list]

[/#if]